@media(max-width: 1100px) {
    .cont-compra{
        width: 80%;
        height: 80%;
    }
    
}
@media(max-width: 1000px) {
    .contenido{
        flex-direction: column;
        justify-content: center;
    }
    .columna1, .columna2{
        width: 90%;
    }
    .contenedor-productos{
        grid-template-columns: repeat(2,50%);
        grid-gap: 30px 2%;
    }
}
@media(max-width: 900px) {
    .column-2{
        width: 90%;
    }
    .navbar{
        flex-direction: column;
        justify-content: center;
    }
}
@media(max-width: 835px) {
    .cont-compra{
        width: 90%;
    }
}
@media(max-width: 740px) {
    .contenedor-productos img{
        height: 200px;
    }
    table thead{
        display: none;
    }
    table tr{
        margin-bottom: 10px;
        display: block;
    }
    table td{
        display: block;
        text-align: right;
    }
    table td::before{
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
    .eliminar{
        margin: 0;
    }
}
@media(max-width: 600px) {
    .div-img-carta{
        width: 95%;
        height: 300px;
    }
    .contenedor-productos img{
        height: 180px;
    }
}
@media(max-width: 550px) {
    .contenedor-productos{
        grid-template-columns: repeat(1,100%);
    }
    .contenedor-productos img{
        height: 200px;
    }
    .column-2{
        width: 100%;
    }
    .navbar nav a {
        font-size: 0.800rem;
    }
}
@media(max-width: 500px) {
    .regresar{
        width: 250px;
    }
    .compra{
        right: 20px;
    }
    .banner{
        clip-path: ellipse(90% 65% at 50% 30%);
    }
}
@media(max-width: 400px) {
    .contenedor-productos img{
        height: 160px;
    }
}
@media(max-width: 360px) {
    .regresar{
        width: 220px;
    }
}